/target
**/*.rs.bk
Cargo.lock
*.profraw
*.profdata

android/libs/*/lib*.so
android/jni/lib*.so
!android/jni/Makefile

*.kate-swp
.idea/
.vscode/
*.iml
*.ipr
*.iws

*.apk
*.aab
*.keystore
local.properties

config/*.json.local
*.swp
*~
.DS_Store