<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:version="1"
        android:required="true" />

    <supports-gl-texture android:name="GL_OES_EGL_image_external_essl3" />

    <application>
        <activity
            android:name="io.stardew.view.StardewViewActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>